.menu-body {
  .MuiDrawer-root {
    .MuiDrawer-paper {
      .hiraeth-logo {
        border-radius: 50%;
        width: 150px;
        height: auto;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
